<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <p class ="navbar-brand">Fire Nation</p>
<div class="airbender-container">
      <%= image_tag("avatar.jpg", class: "airbender") %>

<p>Total Number of people in Fire Nation: <%= @members.count %></p>
 </div>

 <%  %>